

.modalFooter{
    justify-content: center !important;
}
.cancleButton{
    background-color: #797979;
    border-color: transparent;
}
.cancleButton:hover{
    background-color: #666666;
    border-color: transparent;
}
.cancleButton:focus{
    background-color: #666666;
    border-color: transparent;
}

.deleteButton{
    background-color: #be1d1d;
    border-color: transparent;
}
.deleteButton:hover{
    background-color: #921919;
    border-color: transparent;
}
.deleteButton:focus{
    background-color: #921919;
    border-color: transparent;
}