.toggle-switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 45px;
    margin-left: 20px;
  }
  .toggle-switch input[type="checkbox"] {
    display: none;
  }
  .toggle-switch .switch {
    position: absolute;
    cursor: pointer;
    background-color: #CBCBCB;
    border-radius: 8px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-color 0.2s ease;
  }
  .toggle-switch .switch::before {
    position: absolute;
    content: "";
    left: 2px;
    top: 2px;
    width: 21px;
    height: 41px;
    background-color: #FFFFFF;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  .toggle-switch input[type="checkbox"]:checked + .switch::before {
    transform: translateX(53px);
    background-color: #FFFFFF;
    
  }
  .toggle-switch input[type="checkbox"]:checked + .switch {
    background-color: #62DAB8;
  }